In [4]:
import pandas as pd
import json
import time
import csv
import requests
import random

In [3]:
list3 = []
for line in open('compile.json', 'r'):
    list3.append(json.loads(line))
print(list3[:2])

[{'Headline': "IMAX film 'National Parks Adventure' celebrates parks", 'Summary': 'A new IMAX movie debuts Friday, starring geysers, red rock canyons, mountaintops and redwood forests. Called "National Parks Adventure," the film celebrates ...', 'Link': '/wires/ap/article-3442881/IMAX-film-National-Parks-Adventure-celebrates-parks.html', 'Query': 'parks', 'search_page_url': 'https://www.dailymail.co.uk/home/search.html?offset=0&size=50&sel=site&searchPhrase=parks&sort=relevant&type=article&days=all'}, {'Headline': 'PARKS ANNOUNCES RETIREMENT', 'Summary': 'Former Scotland fly-half Dan Parks has announced his retirement from rugby. Parks won 67 caps during an eight-year international career that ended when he st...', 'Link': '/wires/pa/article-2668993/PARKS-ANNOUNCES-RETIREMENT.html', 'Query': 'parks', 'search_page_url': 'https://www.dailymail.co.uk/home/search.html?offset=0&size=50&sel=site&searchPhrase=parks&sort=relevant&type=article&days=all'}]

In [ ]:
type(list3)

In [3]:
df = pd.DataFrame(list3)
df.head()

,Headline,Summary,Link,Query,search_page_url
0,IMAX film 'National Parks Adventure' celebrate...,"A new IMAX movie debuts Friday, starring geyse...",/wires/ap/article-3442881/IMAX-film-National-P...,parks,https://www.dailymail.co.uk/home/search.html?o...
1,PARKS ANNOUNCES RETIREMENT,Former Scotland fly-half Dan Parks has announc...,/wires/pa/article-2668993/PARKS-ANNOUNCES-RETI...,parks,https://www.dailymail.co.uk/home/search.html?o...
2,PARKS SECURE £34.5M LOTTERY CASH,Parks across the UK have been awarded £34.5 mi...,/wires/pa/article-2683442/PARKS-SECURE-34-5M-L...,parks,https://www.dailymail.co.uk/home/search.html?o...
3,'Reinstate Qld parks': conservationists,Conservationists want the Queensland governmen...,/wires/aap/article-3057005/Reinstate-Qld-parks...,parks,https://www.dailymail.co.uk/home/search.html?o...
4,Tim Parks: THE SERVER,‘Sit in silence and be still’ - that’s what yo...,/home/books/article-2142406/Tim-Parks-THE-SERV...,parks,https://www.dailymail.co.uk/home/search.html?o...

In [15]:
from fake_useragent import UserAgent
ua = UserAgent()
print(ua.random)

Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20130401 Firefox/31.0

In [ ]:
from newspaper import Article
title_comp = []
date_comp = []
authors_comp = []
text_comp = []
top_image_comp = []
movies_comp = []
query_comp = []
sp_url_comp = []
page_url_comp = []

for link,query,sp_url in zip(df['Link'],df['Query'],df['search_page_url']):
    user_agent_list = [
    'Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.2309.372 Safari/537.36',
    'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36',
    'Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/29.0.1547.2 Safari/537.36',
    'Mozilla/5.0 (Windows NT 6.2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1464.0 Safari/537.36',
    'Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.2309.372 Safari/537.36',
    'Mozilla/5.0 (X11; Ubuntu; Linux i686 on x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2820.59 Safari/537.36',
    'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20130401 Firefox/31.0'
    ]
    url = "https://www.dailymail.co.uk" + link
    for i in range(1,4):
        #Pick a random user agent
        user_agent = random.choice(user_agent_list)
        #Set the headers 
        headers = {'User-Agent': user_agent}
        #Make the request
        r = requests.get(url, headers=headers)
   
        article = Article(url)
        download = article.download()
        article.html
        article.parse()
        try:
            title = article.title
        except Exception as E:
            title = ""
        title_comp.append(article.title)

        try:
            publish_date = article.publish_date
        except Exception as E:
            publish_date = ""
        date_comp.append(article.publish_date)

        try:
            authors = article.authors
        except Exception as E:
            authors = ""
        authors_comp.append(article.authors)

        try:
            text = article.text
        except Exception as E:
            text = ""
        text_comp.append(article.text)

        try:
            top_image = article.top_image
        except Exception as E:
            top_image = ""
        top_image_comp.append(article.top_image)

        try:
            movies = article.movies
        except Exception as E:
            movies = ""
        movies_comp.append(article.movies)
        
        page_url_comp.append(url)
        query_comp.append(query)
        sp_url_comp.append(sp_url)
        time.sleep(4)

#print(query_comp)
#print(sp_url_comp)
#print(page_url_comp)
#print(title_comp)
#print(date_comp)
#print(authors_comp)
#print(text_comp)
#print(top_image_comp)
#print(movies_comp)

In [ ]:
result = pd.DataFrame({
'query' : query_comp,
'search_result_page_url' : sp_url_comp,
'page_url' : page_url_comp,
'title' : title_comp,
'date' : date_comp,
'authors' : authors_comp,
'text' : text_comp,
'top_image' : top_image_comp,
'movies' : movies_comp
})

result.head()

In [18]:
result.to_csv('final_data.csv')